
#PINLOCK_BEGIN
#Tue Jul 17 17:28:50 2012
# MCU Side
NET "DATA_IN<0>"		LOC =  "S:PIN96";
NET "DATA_IN<1>"     LOC =  "S:PIN95";
NET "DATA_IN<2>"     LOC =  "S:PIN94";
NET "DATA_IN<3>"     LOC =  "S:PIN93";
NET "DATA_IN<4>"     LOC =  "S:PIN81";
NET "DATA_IN<5>"     LOC =  "S:PIN80";
NET "DATA_IN<6>"     LOC =  "S:PIN4";
NET "DATA_IN<7>"     LOC =  "S:PIN3";
NET "DATA_IN<8>"     LOC =  "S:PIN2";

NET "DATA_IN_AV"     LOC =  "S:PIN97";
NET "DATA_IN_BSY"    LOC =  "S:PIN1";
NET "DATA_OUT_AV"    LOC =  "S:PIN76";
NET "DATA_O_ACK"     LOC =  "S:PIN77";


NET "DATA_OUT<0>"     LOC =  "S:PIN92";
NET "DATA_OUT<1>"     LOC =  "S:PIN91";
NET "DATA_OUT<2>"     LOC =  "S:PIN90";
NET "DATA_OUT<3>"     LOC =  "S:PIN89";
NET "DATA_OUT<4>"     LOC =  "S:PIN87";
NET "DATA_OUT<5>"     LOC =  "S:PIN86";
NET "DATA_OUT<6>"     LOC =  "S:PIN85";
NET "DATA_OUT<7>"     LOC =  "S:PIN82";
NET "DATA_OUT<8>"     LOC =  "S:PIN78"; 

NET "DATA_IN<0>"     IOSTANDARD ="LVCMOS33";
NET "DATA_IN<1>"     IOSTANDARD ="LVCMOS33";
NET "DATA_IN<2>"     IOSTANDARD ="LVCMOS33";
NET "DATA_IN<3>"     IOSTANDARD ="LVCMOS33";
NET "DATA_IN<4>"     IOSTANDARD ="LVCMOS33";
NET "DATA_IN<5>"     IOSTANDARD ="LVCMOS33";
NET "DATA_IN<6>"     IOSTANDARD ="LVCMOS33";
NET "DATA_IN<7>"     IOSTANDARD ="LVCMOS33";
NET "DATA_IN<8>"     IOSTANDARD ="LVCMOS33";

NET "DATA_IN_AV"     IOSTANDARD ="LVCMOS33";
NET "DATA_IN_BSY"    IOSTANDARD ="LVCMOS33";
NET "DATA_OUT_AV"    IOSTANDARD ="LVCMOS33";
NET "DATA_O_ACK"     IOSTANDARD ="LVCMOS33";
NET "DATA_OUT<0>"    IOSTANDARD ="LVCMOS33";
NET "DATA_OUT<1>"    IOSTANDARD ="LVCMOS33";
NET "DATA_OUT<2>"    IOSTANDARD ="LVCMOS33";
NET "DATA_OUT<3>"    IOSTANDARD ="LVCMOS33";
NET "DATA_OUT<4>"    IOSTANDARD ="LVCMOS33";
NET "DATA_OUT<5>"    IOSTANDARD ="LVCMOS33";
NET "DATA_OUT<6>"    IOSTANDARD ="LVCMOS33";
NET "DATA_OUT<7>"    IOSTANDARD ="LVCMOS33";
NET "DATA_OUT<8>"    IOSTANDARD ="LVCMOS33"; 

#INPUTS FOR SPINNAKER SIDE:
NET "SPIN_LINK_IN<6>"   LOC =  "S:PIN27";
NET "SPIN_LINK_IN<5>"   LOC =  "S:PIN28";
NET "SPIN_LINK_IN<4>"   LOC =  "S:PIN29";
NET "SPIN_LINK_IN<3>"   LOC =  "S:PIN30";
NET "SPIN_LINK_IN<2>"   LOC =  "S:PIN32";
NET "SPIN_LINK_IN<1>"   LOC =  "S:PIN33";
NET "SPIN_LINK_IN<0>"   LOC =  "S:PIN34";
NET "SPIN_LINK_IN_ACK"  LOC =  "S:PIN35";

NET "SPIN_LINK_OUT_ACK" LOC =  "S:PIN24";
NET "SPIN_LINK_OUT<0>"  LOC =  "S:PIN23";
NET "SPIN_LINK_OUT<1>"  LOC =  "S:PIN22";
NET "SPIN_LINK_OUT<2>"  LOC =  "S:PIN43";
NET "SPIN_LINK_OUT<3>"  LOC =  "S:PIN42";
NET "SPIN_LINK_OUT<4>"  LOC =  "S:PIN41";
NET "SPIN_LINK_OUT<5>"  LOC =  "S:PIN40";
NET "SPIN_LINK_OUT<6>"  LOC =  "S:PIN39";

NET "SPIN_LINK_IN_ACK"  SCHMITT_TRIGGER;
NET "SPIN_LINK_OUT<0>"  SCHMITT_TRIGGER;
NET "SPIN_LINK_OUT<1>"  SCHMITT_TRIGGER;
NET "SPIN_LINK_OUT<2>"  SCHMITT_TRIGGER;
NET "SPIN_LINK_OUT<3>"  SCHMITT_TRIGGER;
NET "SPIN_LINK_OUT<4>"  SCHMITT_TRIGGER;
NET "SPIN_LINK_OUT<5>"  SCHMITT_TRIGGER;
NET "SPIN_LINK_OUT<6>"  SCHMITT_TRIGGER;
NET "DATA_IN<0>"    	 	SCHMITT_TRIGGER;
NET "DATA_IN<1>"   	   SCHMITT_TRIGGER;
NET "DATA_IN<2>"   	   SCHMITT_TRIGGER;
NET "DATA_IN<3>"   	   SCHMITT_TRIGGER;
NET "DATA_IN<4>"   	   SCHMITT_TRIGGER;
NET "DATA_IN<5>"   	   SCHMITT_TRIGGER;
NET "DATA_IN<6>"   	   SCHMITT_TRIGGER;
NET "DATA_IN<7>"   	   SCHMITT_TRIGGER;
NET "DATA_IN<8>"   		SCHMITT_TRIGGER;
NET "DATA_IN_AV"    	   SCHMITT_TRIGGER;
NET "DATA_O_ACK"        SCHMITT_TRIGGER;

NET "SPIN_LINK_IN<6>"   IOSTANDARD ="LVCMOS18";
NET "SPIN_LINK_IN<5>"   IOSTANDARD ="LVCMOS18";
NET "SPIN_LINK_IN<4>"   IOSTANDARD ="LVCMOS18";
NET "SPIN_LINK_IN<3>"   IOSTANDARD ="LVCMOS18";
NET "SPIN_LINK_IN<2>"   IOSTANDARD ="LVCMOS18";
NET "SPIN_LINK_IN<1>"   IOSTANDARD ="LVCMOS18";
NET "SPIN_LINK_IN<0>"   IOSTANDARD ="LVCMOS18";
NET "SPIN_LINK_IN_ACK"  IOSTANDARD ="LVCMOS18";

NET "SPIN_LINK_OUT_ACK" IOSTANDARD ="LVCMOS18";
NET "SPIN_LINK_OUT<0>"  IOSTANDARD ="LVCMOS18";
NET "SPIN_LINK_OUT<1>"  IOSTANDARD ="LVCMOS18";

NET "SPIN_LINK_OUT<2>"  IOSTANDARD ="LVCMOS18"; 
NET "SPIN_LINK_OUT<3>"  IOSTANDARD ="LVCMOS18"; 
NET "SPIN_LINK_OUT<4>"  IOSTANDARD ="LVCMOS18";
NET "SPIN_LINK_OUT<5>"  IOSTANDARD ="LVCMOS18";
NET "SPIN_LINK_OUT<6>"  IOSTANDARD ="LVCMOS18";



##PINLOCK_END
##Created by Constraints Editor (xc2c128-vq100-7) - 2012/09/22
#NET "DATA_IN_AV" TNM_NET = DATA_IN_AV;
#TIMESPEC TS_DATA_IN_AV = PERIOD "DATA_IN_AV" 20 ns HIGH 50%;
##Created by Constraints Editor (xc2c128-vq100-7) - 2012/09/22
##Created by Constraints Editor (xc2c128-vq100-7) - 2012/09/22
#NET "DATA_IN<0>" OFFSET = IN 10 ns VALID 10 ns BEFORE "DATA_IN_AV";
INST "DATA_OUT<0>" TNM = DATA_OUT;
INST "DATA_OUT<2>" TNM = DATA_OUT;
INST "DATA_OUT<1>" TNM = DATA_OUT;
INST "DATA_OUT<4>" TNM = DATA_OUT;
INST "DATA_OUT<3>" TNM = DATA_OUT;
INST "DATA_OUT<5>" TNM = DATA_OUT;
INST "DATA_OUT<6>" TNM = DATA_OUT;
INST "DATA_OUT<7>" TNM = DATA_OUT;
INST "DATA_OUT<8>" TNM = DATA_OUT;
INST "DATA_OUT_AV" TNM = DATA_OUT;
TIMEGRP "DATA_OUT" OFFSET = OUT 20 ns BEFORE "DATA_OUT_AV";






#NET "DATA_IN<1>" OFFSET = IN 10 ns VALID 10 ns BEFORE "DATA_IN_AV";
#NET "DATA_IN<2>" OFFSET = IN 10 ns VALID 10 ns BEFORE "DATA_IN_AV";
##Created by Constraints Editor (xc2c128-vq100-7) - 2012/09/22
#NET "DATA_IN<3>" OFFSET = IN 10 ns VALID 10 ns BEFORE "DATA_IN_AV";
#INST "DATA_IN<4>" TNM = DATA_IN_G;
#INST "DATA_IN<5>" TNM = DATA_IN_G;
#INST "DATA_IN<6>" TNM = DATA_IN_G;
#INST "DATA_IN<8>" TNM = DATA_IN_G;
#INST "DATA_IN<7>" TNM = DATA_IN_G;
#NET "DATA_IN<4>" OFFSET = IN 10 ns VALID 10 ns BEFORE "DATA_IN_AV";
#NET "DATA_IN<5>" OFFSET = IN 10 ns VALID 10 ns BEFORE "DATA_IN_AV";
#NET "DATA_IN<6>" OFFSET = IN 10 ns VALID 10 ns BEFORE "DATA_IN_AV";
#NET "DATA_IN<7>" OFFSET = IN 10 ns VALID 10 ns BEFORE "DATA_IN_AV";
#NET "DATA_IN<8>" OFFSET = IN 10 ns VALID 10 ns BEFORE "DATA_IN_AV";
##Created by Constraints Editor (xc2c128-vq100-7) - 2012/09/22
#NET "DATA_IN<0>" OFFSET = IN 20 ns VALID 20 ns BEFORE "SPIN_LINK_IN_ACK";
##Created by Constraints Editor (xc2c128-vq100-7) - 2012/09/22
#NET "DATA_IN<3>" OFFSET = IN 20 ns VALID 20 ns BEFORE "SPIN_LINK_IN_ACK";
#NET "DATA_IN<2>" OFFSET = IN 20 ns VALID 20 ns BEFORE "SPIN_LINK_IN_ACK";
#NET "DATA_IN<3>" OFFSET = IN 20 ns VALID 20 ns BEFORE "SPIN_LINK_IN_ACK";
#NET "DATA_IN<4>" OFFSET = IN 20 ns VALID 20 ns BEFORE "SPIN_LINK_IN_ACK";
#NET "DATA_IN<5>" OFFSET = IN 20 ns VALID 20 ns BEFORE "SPIN_LINK_IN_ACK";
#NET "DATA_IN<6>" OFFSET = IN 20 ns VALID 20 ns BEFORE "SPIN_LINK_IN_ACK";
#NET "DATA_IN<7>" OFFSET = IN 20 ns VALID 20 ns BEFORE "SPIN_LINK_IN_ACK";
#NET "DATA_IN<8>" OFFSET = IN 20 ns VALID 20 ns BEFORE "SPIN_LINK_IN_ACK";
